<h1><%= @book.title %> (<%=@book.pages%> pages)</h1>
<h2>Authors:</h2>


<ul>
  <% @book.publishers.each do |pub| %>
  <li>
    <%= link_to "#{pub.author.name} (b. #{pub.author.birth_year})", author_path(pub.author.id)%> <br>
    <%= button_to "Remove author", publisher_path(pub.id), method: :delete %>
  <% end %>
  </li>
</ul>


<%= form_for @publisher do |f|  %>
  <%= f.collection_select :author_id, @all_authors, :id, :name %>
  <%= hidden_field_tag 'publisher[book_id]', @book.id %>
  <%= f.submit "Add Author"%>
<%end %>
