<!DOCTYPE html>
<html>
  <head>
    <title>HashgangWebsiteThing</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div id="menu_header">
      <ol>
        <li><%= link_to "Authors Index", authors_path %></li>
        <li><%= link_to "Books Index", books_path %></li>
      </ol>
    </div>
    <%= yield %>
  </body>
</html>
